<div style="margin-top:30px;margin-bottom:30px;">
    @using (Html.BeginForm("UserInfo", "Home"))
    {

        <label>Kullanıcı Adı :</label>
        <input name="Name" type="text" />
        <input type="submit" />
    }
    <div>
